<div class="container">
  <div class="form-group">
    <label for="">Hero name</label>
    <input [(ngModel)]="heroName" type="text" class="form-control" name="" id="" aria-describedby="helpId"
      placeholder="">
    <label for="">Hero Description</label>
    <input [(ngModel)]="heroDescription" type="text" class="form-control" name="" id="" aria-describedby="helpId"
      placeholder="">
    <button type="button" (click)="click()" class="btn btn-primary">Add hero</button>
  </div>

  <ul class="list-group">
    <li class="list-group-item" *ngFor="let hero of heroes">
      <b>{{hero.name}}</b>
      <p>{{hero.description}}</p>
    </li>
  </ul>

</div>