<div class="container">
    <div class="form-group">
        <label for="">Hero name</label>
        <input [(ngModel)]="heroName" type="text" class="form-control" name="" id="" aria-describedby="helpId" placeholder="">
        <small id="helpId" class="form-text text-muted">Help text</small>
        <button type="button" (click)="click()" class="btn btn-primary">Add hero</button>
      </div>
      
      <ul class="list-group">
        <li class="list-group-item" *ngFor="let hero of heroes">{{hero}}</li>
      </ul>
      
</div>