<p *ngIf="!responded">
  Loading...
</p>

<div *ngIf="responded">
  <br>
  <label for="typeahead-basic">Search for a state:</label>
  <input id="typeahead-basic" type="text" class="form-control" [(ngModel)]="model" [ngbTypeahead]="search" />
  <hr>

  <!-- A second map -->
  <app-map id="map1" [lon]=longitude [lat]=latitude zoom=13>
    <!-- Add a layer watercolor -->
    <app-layer layer="watercolor"></app-layer>
    <!-- Add a layer labels -->
    <app-layer layer="labels"></app-layer>
    <!-- Add interaction -->
    <app-interaction></app-interaction>
  </app-map>



</div>